@import url(./vendor/fonts/font.css);

html{
  background-color: gainsboro;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: #000000;;
  color: #ffffff;
}

.header{
  max-width: 880px;
  border-bottom: 1px solid #545454;
  padding-top: 45px;
  margin: 0 auto;
}

.header__logo{
  max-width: 142px;
  object-fit: cover;
  padding-bottom: 41px;
}

.profile{
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 51px 0;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.profile__avatar{
  max-width: 120px;
  max-height: 120px;
  border-radius: 100%;
}

.profile__info{
  max-width: 336px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px 18px;
}

.profile__info-name{
  max-width: 294px;
  width: 100%;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

.profile__info-edit-button{
  background-color: black;
  background-image: url(./image/edit-botton.svg);
  border: 1px solid white;
  max-width: 24px;
  width: 100%;
  min-height: 24px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile__info-subname{
  max-width: 336px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.profile__button{
  max-width: 150px;
  width: 100%;
  background-color: #000000;
  min-height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-image: url(./image/profile-add-buton.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: auto;
}


.elements{
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
  justify-items: center;
}

.elements__card{
  max-width: 282px;
  min-height: 361px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
}

.elements__card-image{
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
}

.elements__card-container{
  max-width: 246px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}

.elements__card-title{
  color: #000000;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  max-width: 219px;
  margin: 0;
}

.elements__card-like{
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
  max-width: 22px;
  width: 100%;
  min-height: 19px;
  background-size: cover;
  background-position: center;
  background-image: url(./image/like.svg);
}

.footer{
  max-width: 880px;
  margin: 0 auto;
}

.footer__copy{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  padding: 67px 0 60px 0;
}
