.profile__info-edit-button{
  background-color: black;
  background-image: url(../../../image/edit-botton.svg);
  border: 1px solid white;
  max-width: 24px;
  width: 100%;
  min-height: 24px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
